{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
        {{ error_message }}
        <form action="add" method="POST">
            <input type="hidden" name="referer" value="{{ referer }}">

            <input type="hidden" name="submited">
            <h2 class="title"> Create Task </h2>
            <div class="mb-3">
                <label for="name" class="form-label">Name Task *</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email *</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="@email">
            </div>
            <div class="mb-3">
                <label for="task" class="form-label">Task *</label>
                <textarea class="form-control" name="task" id="task" placeholder="Description"
                    rows="3"></textarea>
            </div>
            <a class="btn btn-primary" href="{{referer}}">Back</a>

            <input type="submit" class="btn btn-success" value="Send">
    
    </form>
</div>

{% endblock %}